.item5{
    width: 270px;
    height: 360px;
    color: var(--clr-light);
    text-align: center;
    margin-bottom: 20px;
}

.navbar{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.nav7{
    padding: 14px 20px 14px 20px; 
    background-color: #11ae1f;
}