<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gosehat</title>
    <link rel="icon" type="foto/LOGOOBP.png" href="foto/LOGOOBP3.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- NAVBAR BOOTSTRAP -->
  <nav class="navbar py-0 gx-0 navbar-expand-lg sticky-top navbar-light bg-white">
    <div class="container-fluid">

      <a class="navbar-brand" href="#" style="font-size: 30px; font-weight: bold; padding-left: 15px;">
        <img src="foto/LOGOOBP2.png" href="index.html" alt="Logo" width="150px" height="auto" class="mx-3">
      </a>

  <!-- TOMBOL UNTUK SIMPAN NAV-ITEM KALAU WEB NYA DI KECILIN -->
      <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

  <!-- NAV_ITEM -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto p-4 p-lg-0 mb-2 mb-lg-0 d-flex justify-content-end">
          <li class="nav-item">
          <a class="nav-link active" href="index.html" style="color:#11ae1f;">HOME</a></li>

  <!-- DROPDOWN PAGES -->
          <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PAGES</a>
        <ul class="dropdown-menu"> 
          <li><a class="dropdown-item" href="https://www.instagram.com/nandakanmario/">Support Us</a></li>
          <li><a class="dropdown-item" href="https://wa.me/PVGEU4A3IZAND1">Contact Us</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="http://localhost:8081/admin">Admin</a></li>
        </ul></li>
      </div>
      
      <!-- NAV_ITEM BACKGROUND BEDA -->
      <div class="nav7 bg-secondary-subtle justify-content-center d-none d-lg-flex">
        <a style="color: white ; font-size: 18px ;" class="nav-link" href="http://localhost:8081/login">Pendaftaran</a>
       </div>
    </div>
  </nav>

  <br>
  <div style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center;">
      <div>
        <div style="height: 2px; width: 50px; background-color: #11ae1f; margin-top: 8px; margin-left: 30px;"></div>
        <div style="height: 2px; width: 80px; background-color: #11ae1f; margin-top: 8px; margin-right: 10px;"></div>
      </div>
      <h5 style="text-align: center; color: #11ae1f;">DOKTER KAMI</h5>
      <div>
        <div style="height: 2px; width: 50px; background-color: #11ae1f; margin-top: 8px; margin-left: 10px;"></div>
        <div style="height: 2px; width: 80px; background-color: #11ae1f; margin-top: 8px; margin-left: 10px;"></div>
      </div>
    </div>
  </div>
  <h1 style="text-align: center; font-size: 2vw;">Buka setiap-hari (08.00 - 20.00)</h1>

  <div class="container-xxl mt-3">
    <div class="container justify-content-center d-flex">
      <div class="row d-flex justify-content-center">
        <div class="item5">
          <div class="overflow-hidden">
            <img src="foto/dok1.png" class="img-fluid">
              <div style="background-color: #c6f8cb; padding-top: 10px;">
                <h3 style="margin-bottom: 10px; font-size: 20px; font-weight: 700;">Dr. Kanmario.Sp.KG</h3>
                <p style="margin-bottom: 10px; padding-bottom: 15px;">Poli Gigi</p>
              </div>
          </div>  
        </div>

        <div class="item5">
          <div class="overflow-hidden">
            <img src="foto/dok2.png" class="img-fluid">
              <div style="background-color: #c6f8cb; padding-top: 10px;">
                <h3 style="margin-bottom: 10px; font-size: 20px; font-weight: 700;">Dr. Azril.S.Ked</h3>
                <p style="margin-bottom: 10px; padding-bottom: 15px;">Poli Umum</p>
              </div>
          </div>  
        </div>

        <div class="item5">
          <div class="overflow-hidden">
            <img src="foto/dok3.png" class="img-fluid">
              <div style="background-color: #c6f8cb; padding-top: 10px;">
                <h3 style="margin-bottom: 10px; font-size: 20px; font-weight: 700;">Dr. Daffajun.Sp.M</h3>
                <p style="margin-bottom: 10px; padding-bottom: 15px;">Poli Mata</p>
              </div>
          </div>  
        </div>

        <div class="item5">
          <div class="overflow-hidden">
            <img src="foto/dok4.png" class="img-fluid">
              <div style="background-color: #c6f8cb; padding-top: 10px;">
                <h3 style="margin-bottom: 10px; font-size: 20px; font-weight: 700;">Dr. Matthew.Sp.A</h3>
                <p style="margin-bottom: 10px; padding-bottom: 15px;">Poli Anak</p>
              </div>
          </div>  
        </div>

      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>